Package: python3-logscript
Source: logscript
Version: 0.0.1-1
Architecture: all
Maintainer: pagey101 <pagey101@hotmail.co.uk>
Installed-Size: 37
Depends: python3-sh, python3:any
Suggests: python-logscript-doc
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Log event processor (Python 3)
 .
 This package installs the library for Python 3.
