[Unit]
Description=LogScript service
After=network-online.target

[Service]
Type=simple
Restart=never
ExecStart=/usr/bin/env python3 -m logscript

[Install]
WantedBy=multi-user.target
